<launch>

  <!-- CBGL -->
  <node pkg="cbgl" type="cbgl_node" name="cbgl_node" output="screen">

    <!-- General parameters -->
    <rosparam command="load" file="$(find cbgl)/configuration_files/params_cbgl.yaml" />

    <!-- CSM parameters (when FOV <= 2π) -->
    <rosparam command="load" file="$(find cbgl)/configuration_files/params_csm.yaml" />

    <!-- FSM parameters (when FOV = 2π)-->
    <rosparam command="load" file="$(find cbgl)/configuration_files/params_fsm.yaml" />

  </node>

</launch>
