<launch>

  <arg name="gazebo_world"  default="fmt_willowgarage" />
  <!--arg name="gazebo_world"  default="fmt_warehouse_karto" /-->

  <!-- true | false -->
  <arg name="gazebo_gui"    default="true" />

  <!-- turtlebot | rb1-->
  <arg name="robot_type"    default="turtlebot" />

  <!-- visualisation is not necessarily necessary -->
  <arg name="do_viz"        default="true" />




  <!-- launch world, robot, etc -->
  <include file="$(find relief_devel)/launch/avanti_simulation.launch">
    <arg name="gazebo_world"  value="$(arg gazebo_world)" />
    <arg name="gazebo_gui"    value="$(arg gazebo_gui)" />
    <arg name="robot_type"    value="$(arg robot_type)" />
    <arg name="do_viz"        value="$(arg do_viz)" />
    <arg name="num_cameras"   value="1" />
    <arg name="loc_alg"       value="amcl" />
  </include>


  <!-- Execute cbgl -->
  <include file="$(find cbgl)/launch/cbgl.launch">
    <arg name="gazebo_world" value="$(arg gazebo_world)" />
    <arg name="robot_type"   value="$(arg robot_type)" />
  </include>

</launch>
